@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.navigation-container {
	border: 2px solid black;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 00;
	font-style: normal;
	margin: 0;
}

#site-logo {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4);
	position: relative;
	white-space: nowrap;
}

.list-description,
.topic-page {
	font-family: 'Cabin', sans-serif;
	text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.9);
	letter-spacing: 2px;
}

.simbol-and {
	position: absolute;
	font-size: x-large;
	top: 9px;
	left: 3px;
}
.simbol-d {
	position: absolute;
	top: 17px;
	left: -3px;
}

#about-game-container {
	padding-top: 100px;
	padding-bottom: 100px;
	width: 80%;
	margin: 0 auto;
	.inner {
		padding: 50px;
		box-shadow: -25px 16px 48px -3px rgba(0, 0, 0, 0.1);
		border-radius: 2rem;
		font-family: 'Josefin Sans', sans-serif;
	}
}

.comment-area-component {
	max-height: 500px;
}

.overflow-y-scroll::-webkit-scrollbar {
	width: 0 !important;
}

#custom-spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.spinner-img {
	width: 50px;
	height: auto;
	animation: spin 1s linear infinite;
	transform-origin: center;
}

@keyframes spin {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}
