VITE_URL={your back end port}
VITE_GOOGLE_CALLBACK={your back end port}/google/callback?code=
VITE_GOOGLE_AUTH={your back end port}/google/authorization-url
VITE_ME={your back end port}/users/me
VITE_LOGIN={your back end port}/auth/login
VITE_REGISTER={your back end port}/auth/register
VITE_SECRET_KEY={choose a key}